<!doctype html>
<html>
    <head>
        <title>Chibi Keys</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../styles/index.css"/>
        <link rel="stylesheet" href="../styles/index_typography.css"/>
        <link rel="stylesheet" href="../styles/blog-post.css"/>
        <link rel="stylesheet" href="../styles/blog-post_typography.css"/>
    </head>
    <body>

        <div class="keycaps-image-container">
            <div class="container">
        
                <!--
                            
                    HEADER
                        
                -->
        
                <nav class="header">
                    <span class="header-logo">
                        <a href="/">Chibi Keys</a>
                    </span>
        
                    <!-- Header when screen size is <768px -->
                    <div class="header-dropdown-container">
                        <div class="header-dropdown-icon">
                            &#9776;
                        </div>
                        <!-- The div's are outside in the a's in this section so the whole button is a link -->
                        <div class="header-dropdown">
                            <!-- Has id of store-dropdown for specialized styling -->
                            <a href="/store">
                                <div class="header-dropdown-item" id="store-dropdown">Store</div>
                            </a>
                            <a href="/keycaps">
                                <div class="header-dropdown-item">Keycaps</div>
                            </a>
                            <a href="/our-commitment">
                                <div class="header-dropdown-item">Our Commitment</div>
                            </a>
                            <a href="/blog">
                                <div class="header-dropdown-item">Blog</div>
                            </a>
                        </div>
                    </div>
        
                    <!-- Regular header when screen size is >768px -->
                    <div class="header-menu">
                        <!-- Has id of store-menu for specialized styling -->
                        <div class="header-menu-item">
                            <a href="/store" id="store-menu">Store</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/blog">Blog</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/our-commitment">Our Commitment</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/keycaps">Keycaps</a>
                        </div>
                    </div>
                </nav>

                <!-- 

                    BLOG POST CHUNK

                -->
        
                <div class="blog-post-container">
                    <div class="blog-post-title">Reindeer Fiesta Keycap</div>
                    <div class="blog-post-date-text">Created on December 28</div>
                    <img class="blog-post-image" src="../assets/red-flame-artisan-keycap.png">
                    <div class="blog-post-social-media">
                        <a href="https://www.facebook.com/chibikeys/" class="blog-post-media-link">
                            <img src="../assets/facebook-logo-circular.png" class="blog-post-media-logo">
                        </a>
                        <a href="" class="blog-post-media-link">
                            <img src="../assets/twitter-logo-circular.png" class="blog-post-media-logo">
                        </a>
                        <a href="" class="blog-post-media-link">
                            <img src="../assets/reddit-logo-circular.png" class="blog-post-media-logo">
                        </a>
                        <a href="" class="blog-post-media-link">
                            <img src="../assets/mail-logo-circular.png" class="blog-post-media-logo">
                        </a>
                    </div>
                    <div class="blog-post-front-header">
                        Traditionally, marketing and customer service teams have little — if anything — to do with one another.
                    </div>
                    <div class="blog-post-body">
                        In this keycap design, we want to capture the frightening part of our planet. 
                        We started with the volcano eruption as a follow-up artisan keycap of our Trass 
                        and Lava artisan keycap back in 2016.
                        <br><br>
                        In Trass and Lava, it was just a breaking earth with a lava flow beneath and 
                        claims flow. In Inferno artisan keycap, the lava is the main focus. The lava 
                        stream is running wild, bring along it is a rage of mother nature, bring thread 
                        to any life in its path.
                    </div>
                    <div class="blog-post-main-header">Key reasons to ‘de-silo’ your marketing and customer service teams</div>
                    <div class="blog-post-body">
                            Lack of alignment between teams can cause friction in terms of the customer’s expectations, 
                            leading to frustration and disappointment. For example, if a company’s marketing team promotes 
                            the idea that the company provides x, y, and z services — but the support team only offers x 
                            and y — its customers will understandably be let down.
                            <br><br>
                            Additionally, teams that don’t communicate with each other run the risk of bothering and 
                            annoying their customers by reaching out multiple times for the same reason. Say a soon-to-be 
                            customer explains their problem to a company’s marketing team and decides to become a paying 
                            customer, only to be contacted by the support team and asked to explain their problem again. 
                            Not only will this lead to frustration on the customer’s end, it wastes time for everyone involved.
                            <br><br>
                            Lastly, unaligned teams lack the ability to identify and track optimum prospects as well as 
                            customers who have the potential to become brand advocates. Customer service teams need to 
                            communicate back to the marketing team with information regarding which customer segments to 
                            target through future initiatives.
                    </div>
                    <div class="blog-post-main-header">The global water crisis</div>
                    <div class="blog-post-body">
                            Today, 1 in 9 people lack access to safe water and 1 in 3 people 
                            lack access to a toilet. We can change this. When you support Water.org, 
                            you are helping us to put an end to the crisis that disproportionately 
                            affects women and children, causes disease and hinders education and economy.  
                            Let's work together to make the power of water available to all.
                    </div>
                    <div class="blog-post-button-container"><a href="/buy" class="blog-post-button-link">Buy now</a></div>
                    <a href="/rosette-keycap">
                        <div class="blog-post-next-article">
                            <div class="blog-post-next-article-image-container">
                                <!-- Requires wide image (aspect ratio of 1.5 or less) to scale properly -->
                                <img src="../assets/rosette-artisan-keycap.png" class="blog-post-next-article-image">
                            </div>
                            <div class="blog-post-next-article-text">
                                <div class="blog-post-next-article-header">The Rosette Keycap</div>
                                <div class="blog-post-next-article-description">
                                    This keycap was forged a long, long time ago in the lost rings of Mordor.
                                </div>
                                <!-- Not an actual link, the whole div is the link, this just looks nice -->
                                <div class="blog-post-next-article-link">
                                    Read the article →
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        
        
        
        
                <!--
        
                    FOOTER
        
                -->
        
                <!-- FOOTER FOR >1024px, four column layout -->
                <div class="footer-columns">
                    <div class="row row-footer">
                        <!-- Logo and copyright -->
                        <div class="column-footer" id="footer-column-1">
                            <div class="footer-inside-container">
                                <span class="footer-logo">
                                    <a href="/">Chibi Keys</a>
                                </span>
                                <p class="footer-copyright">Copyright © Chibi Keys 2017</p>
                            </div>
                        </div>
                        <!-- Links to various pages -->
                        <div class="column-footer" id="footer-column-2">
                            <div class="footer-inside-container">
                                <a href="about-us" class="footer-link">About Us</a>
                                <br>
                                <a href="contact" class="footer-link">Contact</a>
                                <br>
                                <a href="blog" class="footer-link">Blog</a>
                            </div>
                        </div>
                        <!-- Links to various social media pages -->
                        <div class="column-footer" id="footer-column-3">
                            <div class="footer-inside-container">
                                <a href="https://www.facebook.com/chibikeys/" class="footer-link">
                                    <img src="../assets/facebook-footer-logo.png" class="footer-link-media-logo"> Facebook
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="../assets/instagram-footer-logo.png" class="footer-link-media-logo"> Instagram
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="../assets/reddit-footer-logo.png" class="footer-link-media-logo"> Reddit
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="../assets/twitter-footer-logo.png" class="footer-link-media-logo"> Twitter
                                </a>
                            </div>
                        </div>
                        <!-- Subscription block -->
                        <div class="column-footer" id="footer-column-4">
                            <div class="footer-inside-container">
                                <div class="footer-subscribe-text">
                                    Subscribe to receive new keycap design updates.
                                </div>
                                <form>
                                    <input type="text" placeholder="Enter your email" id="footer-subscribe">
                                    <a href="" class="index-footer-subscription-button">Subscribe</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Stacked version of footer, @ 1024px -->
                <div class="stacked-footer">
                    <div class="footer-page-link-container">
                        <a href="about-us" class="footer-link">About Us</a>
                        <a href="contact" class="footer-link">Contact</a>
                        <a href="blog" class="footer-link">Blog</a>
                    </div>
                    <div class="footer-media-link-container">
                        <a href="https://www.facebook.com/chibikeys/" class="footer-link">
                            <img src="../assets/facebook-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="../assets/instagram-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="../assets/reddit-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="../assets/twitter-footer-logo.png" class="footer-link-media-logo">
                        </a>
                    </div>
                    <div class="footer-subscription-container">
                        <div class="footer-subscribe-text">
                            Subscribe to receive new keycap design updates.
                        </div>
                        <form>
                            <input type="text" placeholder="Enter your email" id="footer-subscribe">
                            <a href="" class="index-footer-subscription-button">Subscribe</a>
                        </form>
                    </div>
                    <div class="footer-logo-copyright-container">
                        <span class="footer-logo">
                            <a href="/">Chibi Keys</a>
                        </span>
                        <p class="footer-copyright">Copyright © Chibi Keys 2017</p>
                    </div>
                </div>
        
            </div>
        </div>

        <!-- Links to index.js -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="scripts/index.js"></script>
    </body>
</html>

