<!doctype html>
<html>
    <head>
        <title>Chibi Keys</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="styles/index.css"))/>
        <link rel="stylesheet" href="styles/index_typography.css"))/>
    </head>
    <body>

        <div class="index-frontpage-container">
            <div class="container">

                <!--
                    
                    HEADER
                
                -->
        
                <nav class="header">
                    <span class="header-logo">
                        <a href="/">Chibi Keys</a>
                    </span>
        
                    <!-- Header when screen size is <768px -->
                    <div class="header-dropdown-container">
                        <div class="header-dropdown-icon">
                            &#9776;
                        </div>
                        <!-- The div's are outside in the a's in this section so the whole button is a link -->
                        <div class="header-dropdown">
                            <!-- Has id of store-dropdown for specialized styling -->
                            <a href="/store">
                                <div class="header-dropdown-item" id="store-dropdown">Store</div>
                            </a>
                            <a href="/keycaps">
                                <div class="header-dropdown-item">Keycaps</div>
                            </a>
                            <a href="/our-commitment">
                                <div class="header-dropdown-item">Our Commitment</div>
                            </a>
                            <a href="/blog">
                                <div class="header-dropdown-item">Blog</div>
                            </a>
                        </div>
                    </div>
        
                    <!-- Regular header when screen size is >768px -->
                    <div class="header-menu">
                        <!-- Has id of store-menu for specialized styling -->
                        <div class="header-menu-item">
                            <a href="/store" id="store-menu">Store</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/blog">Blog</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/our-commitment">Our Commitment</a>
                        </div>
                        <div class="header-menu-item">
                            <a href="/keycaps">Keycaps</a>
                        </div>
                    </div>
                </nav>
        
                <!-- 
                    
                    INDEX SLIDESHOW W/ TEXT
                
                -->
        
                <!-- Greater than 850px, column form -->
                <div class="column-slideshow-container">
                    <div class="row row-slideshow">
                        <!-- Slideshow w/ product images and titles (left side of index) -->
                        <div class="column-slideshow index-slideshow-image">
                            <!-- Keycap product names -->
                            <div class="index-slideshow-image-title">Product One</div>
                            <div class="index-slideshow-image-title">Product Two</div>
                            <div class="index-slideshow-image-title">Product Three</div>
                            <!-- Keycap images -->
                            <img src="assets/keycap_image.png" class="index-slides">
                            <img src="assets/keycap_image_2.png" class="index-slides">
                            <img src="assets/keycap_image_3.png" class="index-slides">
                            <!-- Left and right arrows -->
                            <a class="prev no-select" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next no-select" onclick="plusSlides(1)">&#10095;</a>
                        </div>
        
                        <!-- Right side of index - text of slideshow -->
                        <div class="column index-slideshow-text">
                            <div id="index-slideshow-text-header">
                                We Make
                                <br>Cool Keycaps
                            </div>
                            <div id="index-slideshow-text-body">
                                Chibi Keys makes fun keycaps that use high-quality materials!
                            </div>
                            <!-- Call-to-action button -->
                            <a href="/keycaps" id="index-slideshow-text-button">Find Keycaps</a>
                        </div>
                    </div>
                </div>

                <!-- Less than 850px, text then image form (text and slideshow are separate, no columns) -->
                <div class="index-frontpage-text">
                    <!-- Large text -->
                    <div class="index-frontpage-large-text">
                        We make cool keycaps
                    </div>
                    <!-- Medium text -->
                    <div class="index-frontpage-medium-text">
                        Chibi Keys makes fun keycaps that use high-quality materials! 
                    </div>
                    <!-- Call-to-action button -->
                    <a href="/keycaps" class="index-frontpage-text-button">Find Keycaps</a>
                    <!-- Enter email to subscribe for updates -->
                    <div id="subscription-container">
                        <p class="index-frontpage-subscribe-description">
                            Subscribe to receive new keycap design updates.
                        </p>
                        <form>
                            <input type="text" placeholder="Enter your email address">
                            <a href="" class="index-frontpage-subscription-button">Subscribe</a>
                        </form>
                    </div>
                </div>


                <!--
                    
                    LARGE INDEX TEXT BLOCK (OUR COMMITMENT TEXT BLOCK)
                
                -->
                <div class="index-text-container">
                    <p class="index-large-text">
                        We Donate
                    </p>
                    <p class="index-medium-text">
                        Chibi Keys is committed to helping less fortunate communites.
                        We promise to donate 50% of our sales to improve the lives of others.
                        Chibi Keys is committed to helping less fortunate communites.
                    </p>
                    <a href="/our-commitment" class="index-large-text-button">Our Commitment</a>
                </div>

                <!--
                    
                    GALLERY WITH IMAGES OF PRODUCTS
                
                -->
                <div class="index-gallery-container">
                    <p class="index-large-text">
                        Our Keycaps
                    </p>
                    <div class="row row-gallery">
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Nuclear Attack</p>
                                <p class="gallery-image-description">
                                    This keycap design is very cool because it resembles a nuclear attack. This is good for keycaps.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="read">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="buy">Buy now</a>
                                <img src="assets/keycap_image.png" class="gallery-image">
                            </div>
                        </div>
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Bee Mayhem</p>
                                <p class="gallery-image-description">
                                    I like this keycap very much because it has bee mayhem on it. Overall, great for the family.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="">Buy now</a>
                                <img src="assets/keycap_image_2.png" class="gallery-image">
                            </div>
                        </div>
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Nuclear Attack</p>
                                <p class="gallery-image-description">
                                    This keycap design is very cool because it resembles a nuclear attack. This is good for keycaps.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="">Buy now</a>
                                <img src="assets/keycap_image_3.png" class="gallery-image">
                            </div>
                        </div>
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Nuclear Attack</p>
                                <p class="gallery-image-description">
                                    This keycap design is very cool because it resembles a nuclear attack. This is good for keycaps.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="">Buy now</a>
                                <img src="assets/keycap_image_3.png" class="gallery-image">
                            </div>
                        </div>
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Bee Mayhem</p>
                                <p class="gallery-image-description">
                                    I like this keycap very much because it has bee mayhem on it. Overall, great for the family, great for everybody.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="">Buy now</a>
                                <img src="assets/keycap_image.png" class="gallery-image">
                            </div>
                        </div>
                        <div class="column-gallery">
                            <div class="gallery-inside-container">
                                <p class="gallery-image-name">Nuclear Attack</p>
                                <p class="gallery-image-description">
                                    This keycap design is very cool because it resembles a nuclear attack. This is good for keycaps.
                                </p>
                                <a class="gallery-image-link gallery-image-link-read" href="">Read more</a>
                                <a class="gallery-image-link gallery-image-link-buy" href="">Buy now</a>
                                <img src="assets/keycap_image_2.png" class="gallery-image">
                            </div>
                        </div>
                    </div>
                </div>

                <!--

                    FOOTER

                -->

                <!-- FOOTER FOR >1024px, four column layout -->
                <div class="footer-columns">
                    <div class="row row-footer">
                        <!-- Logo and copyright -->
                        <div class="column-footer" id="footer-column-1">
                            <div class="footer-inside-container">
                                <span class="footer-logo">
                                    <a href="/">Chibi Keys</a>
                                </span>
                                <p class="footer-copyright">Copyright © Chibi Keys 2017</p>
                            </div>
                        </div>
                        <!-- Links to various pages -->
                        <div class="column-footer" id="footer-column-2">
                            <div class="footer-inside-container">
                                <a href="about-us" class="footer-link">About Us</a>
                                <br>
                                <a href="contact" class="footer-link">Contact</a>
                                <br>
                                <a href="blog" class="footer-link">Blog</a>
                            </div>
                        </div>
                        <!-- Links to various social media pages -->
                        <div class="column-footer" id="footer-column-3">
                            <div class="footer-inside-container">
                                <a href="https://www.facebook.com/chibikeys/" class="footer-link">
                                    <img src="assets/facebook-footer-logo.png" class="footer-link-media-logo">
                                    Facebook
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="assets/instagram-footer-logo.png" class="footer-link-media-logo">
                                    Instagram
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="assets/reddit-footer-logo.png" class="footer-link-media-logo">
                                    Reddit
                                </a>
                                <br>
                                <a href="" class="footer-link">
                                    <img src="assets/twitter-footer-logo.png" class="footer-link-media-logo">
                                    Twitter
                                </a>
                            </div>
                        </div>
                        <!-- Subscription block -->
                        <div class="column-footer" id="footer-column-4">
                            <div class="footer-inside-container">
                                <div class="footer-subscribe-text">
                                    Subscribe to receive new keycap design updates.
                                </div>
                                <form>
                                    <input type="text" placeholder="Enter your email" id="footer-subscribe">
                                    <a href="" class="index-footer-subscription-button">Subscribe</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Stacked version of footer, @ 1024px -->
                <div class="stacked-footer">
                    <div class="footer-page-link-container">
                        <a href="about-us" class="footer-link">About Us</a>
                        <a href="contact" class="footer-link">Contact</a>
                        <a href="blog" class="footer-link">Blog</a>
                    </div>
                    <div class="footer-media-link-container">
                        <a href="https://www.facebook.com/chibikeys/" class="footer-link">
                            <img src="assets/facebook-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="assets/instagram-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="assets/reddit-footer-logo.png" class="footer-link-media-logo">
                        </a>
                        <a href="" class="footer-link">
                            <img src="assets/twitter-footer-logo.png" class="footer-link-media-logo">
                        </a>
                    </div>
                    <div class="footer-subscription-container">
                        <div class="footer-subscribe-text">
                            Subscribe to receive new keycap design updates.
                        </div>
                        <form>
                            <input type="text" placeholder="Enter your email" id="footer-subscribe">
                            <a href="" class="index-footer-subscription-button">Subscribe</a>
                        </form>
                    </div>
                    <div class="footer-logo-copyright-container">
                        <span class="footer-logo">
                            <a href="/">Chibi Keys</a>
                        </span>
                        <p class="footer-copyright">Copyright © Chibi Keys 2017</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Links to index.js -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="scripts/index.js"></script>
    </body>
</html>

