body {
    margin: 0;
}

/* container */
.container {
    margin: 0 8px;
}

/* container, will have background gif at 850px */
.index-frontpage-container {
    background: none; /* TODO: PUT SOMETHING HERE? */
}

/*

    HEADER
    
*/

.header {
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 64px;
}


/* REGULAR MENU - Header when screen size is >768px */

.header-menu {
    float: right;
    padding: 0 40px 0 0;
}

.header-menu-item {
    float: right;
    margin-left: 50px;
}

.header-logo {
    float: left;
    padding: 0 0 0 40px;
}

/* Specialized store button styling */
#store-menu {
    margin-left: 5px;
    padding: 6px 15px;
    border: 1px solid #9fd8cb;
    transition: 0.2s ease;
}

#store-menu:hover {
    color: white;
    background-color: #9fd8cb;
}


/* DROPDOWN MENU - Header when screen size is <768px */

.header-dropdown-container {
    display: none; /* This line prevents the dropdown from being shown regularly */
    position: relative;
    margin-right: 40px;
    z-index: 1;
}

.header-dropdown-icon {
    float: right;
    user-select: none;
    cursor: pointer;
}

.header-dropdown {
    line-height: 32px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 64px;
    right: 0;
}

.header-dropdown-item {
    padding: 15px 30px;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    background: white;
}

.header-dropdown-item:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

/* Specialized store button styling */
#store-dropdown {
    background-color: #f5fffd; /* TODO: is transparent, might not be an issue but make sure */
}

#store-dropdown:hover {
    background-color: #ebfcf8;
}

/* Regular header menu items closer together at certain width (900px) */
@media screen and (max-width: 900px) {
    .header-menu-item {
        margin-left: 28px;
    }
}

/* CSS switch to dropdown at 768px */
@media screen and (max-width: 768px) {

    .header-dropdown-container {
        display: block;
    }

    .header-dropdown {
        display: none;
    }
    
    .header-menu {
        display: none;
    }
}

/*

    INDEX SLIDESHOW W/ TEXT
    
*/

/* column container */
.column-slideshow-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

/* General row/column formation */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Row distance from top */
.row-slideshow {
    margin-top: 75px;
}

/* Column height */
.column-slideshow {
    height: auto;
}

/* LEFT SIDE OF INDEX */
/* TODO: CREATE LINKS FOR IMAGES TO GO AND BUY THEM, SOME SORT OF HOVER SYSTEM */
.index-slideshow-image {
    position: relative;
    float: left;
    width: 45%;
}

/* Slideshow images */
.index-slides {
    margin: 0 auto;
    width: 75%;
    display: none;
    border-radius: 25px;
    /* TODO: These don't work because the js doesn't match */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

/* Corresponding title to slideshow image */
.index-slideshow-image-title {
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

/* Arrow keys for left and right */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 3px 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 3px;
}

.prev:hover, .next:hover {
    background: #eeeeee;
}

/* RIGHT SIDE OF INDEX */

/* Column container */
.index-slideshow-text {
    float: right;
    width: 45%;
}

/* Header of frontpage */
#index-slideshow-text-header {
    margin-bottom: 20px;
}

/* Short body of frontpage */
#index-slideshow-text-body {
    margin-bottom: 30px;
}

/* Frontpage button for keycaps */

#index-slideshow-text-button {
    padding: 6px 15px;
    border: 1px solid #d39fd8; /* Color still has to be discovered, currently a placeholder */
    transition: 0.2s ease;
}
/* Hover for frontpage button */
#index-slideshow-text-button:hover {
    color: white;
    background-color: #cc73d6;
    border: 1px solid #cc73d6;
}

/* FRONTPAGE DESIGN OPTIMIZATIONS FOR DIFFERENT SCREEN SIZES */

/* Frontpage text for the design of <850px */
.index-frontpage-text {
    display: none;
}

/* Frontpage header text */
.index-frontpage-large-text {
    margin: 30px 0;
}
/* Frontpage body text */
.index-frontpage-medium-text {
    margin: 30px 0;
}
/* Frontpage text button */
.index-frontpage-text-button {
    padding: 6px 15px;
    border: 1px solid #d39fd8; /* Color still has to be discovered, currently a placeholder */
    transition: 0.2s ease;
}
.index-frontpage-text-button:hover {
    color: white;
    background-color: #cc73d6;
    border: 1px solid #cc73d6;
}
/* Form design */
input[type=text] {
    width: 325px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
input[type=text]:focus {
    border: 2px solid #ff6c47;
}
/* Subscription button paired with email form */
.index-frontpage-subscription-button {
    margin-left: 5px;
    padding: 13px 20px;
    color: white;
    background-color: #cc73d6;
    transition: 0.2s ease;
    border-radius: 5px;
}
.index-frontpage-subscription-button:hover {
    background-color: #c34fcf;
}
/* Contains the type box and subscription button */
#subscription-container {
    margin-top: 30px;
    display: block;
}

/* Shrink column container, height at 1000px */
@media screen and (max-width: 1000px) {
    .column-slideshow-container {
        max-width: 800px;
    }
    .column-slideshow {
        height: auto;
    }
}

/* LARGE REDESIGN, removal of columns, slideshow below central text */
@media screen and (max-width: 850px) {
    /* Remove all column content */
    .column-slideshow-container {
        display: none;
    }
    /* Frontpage text container */
    .index-frontpage-text {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        position: relative;
        margin: 80px 0;
        height: auto;
    }
}

/* Changing margins, subscription box fullscreen */
@media screen and (max-width: 550px) {
    /* Remove all column content */
    .column-container {
        display: none;
    }
    /* Frontpage text container */
    .index-frontpage-text {
        display: block;
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        position: relative;
        margin: 20px 0;
        height: auto;
    }
    /* Input form taking up full screen */
    input[type=text] {
        width: 100%;
    }
    /* Subscription button paired with email form */
    .index-frontpage-subscription-button {
        margin: 0 auto;
        margin-top: 10px;
        display: block;
    }
    
}

/*

    INDEX TEXT BLOCK SECTION, CAN BE APPLIED TO OTHER TEXT SECTIONS

*/

.index-text-container {
    margin: 0 auto;
    padding: 75px 0;
    width: 70%;
    text-align: center;
    margin-bottom: 75px;
}

.index-large-text {
    margin: 30px 0;
}

.index-medium-text {
    margin-bottom: 40px;
}

.index-large-text-button {
    padding: 6px 15px;
    border: 1px solid #ff6c47;
    transition: 0.2s ease;
}

.index-large-text-button:hover {
    color: white;
    background-color: #ff6c47;
}

/* Reducing font sizes so it fits on frontpage screen at 650px */
@media screen and (max-width: 650px) {
    .index-large-text {
        font-size: 60px;
    }

    .index-large-text-button {
        font-size: 30px;
    }
}

/*

    INDEX GALLERY SECTION (uses row from index frontpage slideshow section

*/

/* Container over whole gallery */
.index-gallery-container {
    padding: 0 5%;
    margin-bottom: 100px;
    position: relative;
}

/* Header text */
.index-gallery-large-text {
    margin-bottom: 5vh;
}

/* Wrapper class for each column */
.column-gallery {
    height: auto; /* Sets height to as large as the image :) */
    width: 33.33333%;
    float: left;
    position: relative;
    text-align: center;
}

/* Title of product */
.gallery-image-name {
    display: none;
    position: absolute;
    margin: 0px;
    top: 10%;
    left: 10%;
    z-index: 1;
}

/* Short description of product, maybe create small one/two-sentence story */
.gallery-image-description {
    display: none;
    position: absolute;
    padding-right: 5%;
    margin: 0px;
    top: 30%;
    left: 10%;
    z-index: 1;
}

/* Link to "Read more" and Buy now" */
.gallery-image-link {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 1% 2%;
    border: 1px solid white;
    z-index: 1; /* Puts link/button above image */
}
.gallery-image-link:hover {
    background: white;
    color: black;
}
/* Two links, same styling above but different placement */
.gallery-image-link-read {
    top: 65%;
    left: 10%;
}
.gallery-image-link-buy {
    top: 65%;
    left: 45%;
}

/* The images in the gallery */
.gallery-image {
    display: block;
    width: 100%;
    transition: all 0.5s linear;
}

/* On hover of column, gallery image name and description and other facets show */
.gallery-inside-container:active .gallery-image-name, .gallery-inside-container:hover .gallery-image-name {
    display: block;
}
/* On hover of column, gallery image name and description and other facets show */
.gallery-inside-container:active .gallery-image-description, .gallery-inside-container:hover .gallery-image-description {
    display: block;
}
/* On hover of column, gallery image name and description and other facets show */
.gallery-inside-container:active .gallery-image-link, .gallery-inside-container:hover .gallery-image-link {
    display: block;
}
/* On hover of column, gallery image opacity changes */
.gallery-inside-container:active .gallery-image, .gallery-inside-container:hover .gallery-image {
    opacity: 0.25;
}
/* On hover of column, background color slightly changes, slight tint */
.gallery-inside-container:active, .gallery-inside-container:hover {
    background: #333333;
}

/* INDEX GALLERY SCALING SECTION */

/* Changing from three columns to two columns, create clickable boxes instead of normal grid */
@media screen and (max-width: 1024px) {
    .column-gallery {
        width: 46%;
        padding: 0 2%; /* Width of 40%, using percentages, 5% padding within images adds up to 100% */
    }
    .gallery-image {
        height: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin: 0 auto;
        margin-bottom: 1.5vw;
        margin-top: 1.5vw;
    }
    .gallery-image-name {
        top: 10%;
        left: 15%;
    }
    .gallery-image-description {
        top: 30%;
        left: 15%;
        padding-right: 12.5%;
    }
    .gallery-image-link-read {
        top: 65%;
        left: 15%;
    }
    .gallery-image-link-buy {
        top: 65%;
        left: 50%;
    }
}

/* Removing description, centering other elements at 768px */
@media screen and (max-width: 768px) {
    /* On hover of column, gallery image name and description and other facets show */
    .gallery-inside-container:active .gallery-image-description, .gallery-inside-container:hover .gallery-image-description {
        display: none;
    }
    /* Center product title */
    .gallery-image-name {
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .gallery-image-link-read {
        top: 47.5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .gallery-image-link-buy {
        top: 70%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


/* Prevent selection of element */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Removing general a styling */
a {
    text-decoration: none;
    color: inherit; /* Inherits color of parent */
}