@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* FRONTPAGE IMAGE BACKGROUND KEYCAP LINK */

.keycaps-frontpage-featured-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #eeeeee;
    text-align: center;
}

.keycaps-frontpage-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .keycaps-frontpage-header {
        font-size: 7vw;
    }
    .keycaps-frontpage-featured-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .keycaps-frontpage-featured-text {
        font-size: 17.5px;
    }
}

/* KEYCAPS PRODUCT GALLERY */

.keycaps-product-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25vw;
    font-weight: 700;
    color: black;
    text-align: center;
}

/* Increasing width font size at 900px */
@media screen and (max-width: 900px) {
    .keycaps-product-name {
        font-size: 2.75vw;
    }
}

/* Increasing width font size at 600px */
@media screen and (max-width: 600px) {
    .keycaps-product-name {
        font-size: 17.5px;
    }
}

/* Increasing font size at 450px */
@media screen and (max-width: 450px) {
    .keycaps-product-name {
        font-size: 22.5px;
    }
}